html{
    font-size: 14px;
}
*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
/* global components */
 body{
     
     background-color: hsl(30, 38%, 92%);
 }
 p{
    color:hsl(228, 12%, 48%);
    font-weight: 400;
 }
 h1{
font-family: "Fraunces", serif; 
font-weight:  700;
 }
 span{
     color:hsl(228, 12%, 48%);
    text-decoration: line-through;
 }
.container{
    display:flex;
    max-width: 700px;
    margin:10% auto;
    border-radius: 5%;
    background-color: hsl(0, 0%, 100%);
}

.Card1{
width:100%;
max-width: 300px;

}
 /* card2 components */
.Card2{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    padding:2rem;
     background-color: white;
    text-align: left;
    gap:2rem ;
}
.prices{
    display: flex;
    gap:2rem ;
}
#Title{
     letter-spacing: 2px;
     /* font-family: "Fraunces", serif; */
     font-family: "Montserrat", sans-serif;
}
#new-price{
    color:hsl(158, 36%, 37%);
}
#button
{
    display: flex;
    padding:1rem;
    border-radius: 10px;
     color:white;
    background-color:hsl(158, 36%, 37%);
    gap:0.5rem;
    
}
#button:hover{
    background-color: hsl(158, 42%, 18%);

}
